/* root伪类指定全局颜色(照抄) */
:root {
    --blue-custom: #5ea6e5;
    --loading-color: rgba(207, 246, 247, 0.92);
    --border-color: #c9c9c9;
    --color-red: rgb(239, 90, 90);
    --color-orange: rgb(228, 149, 66);
    --color-yellow: rgb(194, 205, 90);
    --color-green: rgb(57, 197, 187);
    --color-puregreen: rgb(90, 205, 130);
    --color-blue: rgb(102, 204, 255);
    --color-heoblue: rgb(66, 90, 239);
    --color-darkblue: rgb(97, 100, 159);
    --color-purple: rgb(205, 90, 195);
    --color-purepurple: rgb(147, 90, 205);
    --color-pink: rgb(237, 112, 155);
    --color-gray: rgb(150, 150, 150);
    --color-black: rgb(45, 45, 45);
    --color-whitegray: rgb(241, 241, 241);
    --btn-bg: var(--theme-color) !important;
    --scrollbar-color: var(--theme-color) !important;
    --border-style: 1px solid rgba(169, 169, 169, 0.7);
    /* 菜单栏悬浮带透明度的颜色 初始为rgba(73, 205, 245, 0.7) 已由js设置*/
    /* 代码框行数背景色 */
    --hlnumber-bg: #282c34;
    /* 代码框顶部背景色 */
    --hltools-bg: #1c1c1c;
    /* 代码框背景色 */
    --hl-bg: #282c34;
}

/* 字体引入（这里需要根据你自己想要待选的字体进行引入） */
@font-face {
  font-family: ZhuZiAWan;
  src: url(https://npm.elemecdn.com/anzhiyu-blog@1.1.6/fonts/ZhuZiAWan.woff2);
  font-display: swap;
  /* font-weight: lighter; */
}

@font-face {
  font-family: HYTMR;
  src: url(https://sourcebucket.s3.bitiful.net/fonts/HYTangMeiRen55W.woff2);
  font-display: swap;
}

@font-face {
  font-family: LXGW;
  src: url(https://sourcebucket.s3.bitiful.net/fonts/霞鹜文楷.woff2);
  font-display: swap;
}

@font-face {
  font-family: TTQHB;
  src: url(https://sourcebucket.s3.bitiful.net/fonts/甜甜圈海报字体.woff2);
  font-display: swap;
}

@font-face {
  font-family: YSHST;
  src: url(https://sourcebucket.s3.bitiful.net/fonts/优设好身体.woff2);
  font-display: swap;
}

@font-face {
  font-family: MiSans;
  src: url(https://sourcebucket.s3.bitiful.net/fonts/MiSans.woff2);
  font-display: swap;
}

@font-face {
  font-family: Consolas_1;
  src: url(https://sourcebucket.s3.bitiful.net/fonts/Consolas.woff2);
  font-display: swap;
}
  

/* winbox样式(这块照抄即可) */
.winbox {
    border-radius: 10px;
    overflow: hidden;
}

.wb-title {
    font-family: var(--global-font);
}

.wb-body {
    background-color: #e5f1f5;
}

.wb-full {
    display: none;
}

.wb-min {
    background-position: center;
}

[data-theme="dark"] .wb-body,
[data-theme="dark"] #changeBgBox {
    background: #333 !important;
}

.bgbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pimgbox,
.imgbox,
.box {
    height: 100px;
    width: 166px;
    margin: 10px;
    border-radius: 10px !important;
    background-size: cover;
}

.pimgbox,
.imgbox {
    border-radius: 10px;
    overflow: hidden;
}

.imgbox:hover,
.pimgbox:hover,
.box:hover {
    scale: 1.05;
    transition: all .3s ease-in-out
}

.pimgbox {
    height: 240px;
}

.imgbox {
    height: 95px;
}

@media screen and (max-width: 768px) {

    /* 背景 */
    .pimgbox,
    .imgbox,
    .box {
        height: 73px;
        width: 135px;
    }

    .pimgbox {
        height: 205px;
    }

    /* 2.0新增内容 */
    .wb-min {
        display: none;
    }

    #changeBgBox .wb-body::-webkit-scrollbar {
        display: none;
    }
}

/* 主题色适配覆盖区域 */
.category-lists ul li:before {
    border: 0.215em solid var(--theme-color);
}

a:hover {
    color: var(--theme-color);
}

blockquote {
    border-left: 3px solid var(--theme-color);
}

#article-container .highlight-tools .copy-button:hover {
    color: var(--theme-color);
}

/* 文章内 a 标签 hover 效果 */
#article-container a:not(.fancybox,.imgbox,.swf,.box,.pimgbox,.magnet_link,.gallery_link):hover {
  text-decoration: none;
  color: #fefefe;
  background: var(--text-bg-hover)!important;
  border-radius: 4px;
  box-shadow: 0 8px 12px -3px #4259ef23;
  padding: 2px;
  transition: all .3s ease-in-out
}
/* 不知道干啥的 */--timeline-color
#article-container #hpp_talk p img {
  display: inline;
}

#article-container h1:hover:before,
#article-container h2:hover:before,
#article-container h3:hover:before,
#article-container h4:hover:before,
#article-container h5:hover:before,
#article-container h6:hover:before {
    color: var(--theme-color) !important;
}

#article-container li::marker {
    color: var(--theme-color) !important;
}

#article-container .tabs>.nav-tabs>.tab.active button {
    border-top: 2px solid var(--theme-color);
}

#article-container .timeline {
    border-left: 2px solid var(--timeline-color, var(--theme-color));
}

#article-container .timeline .timeline-item:hover .item-circle:before {
    border-color: var(--timeline-color, var(--theme-color));
}

#article-container .timeline .timeline-item.headline .timeline-item-title .item-circle:before {
    border: 4px solid var(--timeline-color, var(--theme-color));
}

.error404 #error-wrap .error-content .error-img img {
    background-color: var(--theme-color);
}

.article-sort-title:before {
    border: 5px solid var(--theme-color);
}

.article-sort-item:before {
    order: 3px solid var(--theme-color);
}

.article-sort-item.year:hover:before {
    border-color: var(--theme-color);
}

.article-sort-item-title:hover {
    color: var(--theme-color);
}

.category-lists .category-list a:hover {
    color: var(--theme-color);
}

#recent-posts>.recent-post-item>.recent-post-info>.article-title:hover {
    color: var(--theme-color);
}

#recent-posts>.recent-post-item>.recent-post-info>.article-meta-wrap a:hover {
    color: var(--theme-color);
}

.tag-cloud-list a:hover {
    color: var(--theme-color) !important;
}

/* 个人信息Follow me按钮 */
#aside-content > .card-widget.card-info > #card-info-btn {
  background-color: var(--theme-color) !important;
  border-radius: 30px;
  color: white;
}
#aside-content > .card-widget.card-info > #card-info-btn:hover {
  background-color: var(--text-bg-hover) !important;
}

#aside-content .card-tag-cloud a:hover {
    color: var(--theme-color) !important;
}

#aside-content .aside-list>.aside-list-item .content>.comment:hover {
    color: var(--theme-color);
}

#aside-content #card-toc .toc-content .toc-link:hover {
    color: var(--theme-color);
    scale: 1.03;
}

*::selection {
    background: var(--theme-color);
}

#aside-content #card-toc .toc-content .toc-link.active {
    background: var(--theme-color);
    border-radius: 8px;
}

#aside-content #card-toc .toc-content .toc-link.active:hover {
    color: #fefefe;
}

.site-data>a:hover div {
    color: var(--theme-color) !important;
}

#post-comment .comment-head #comment-switch .first-comment {
    color: var(--theme-color) !important;
}

#post-comment .comment-head #comment-switch .switch-btn {
    background-color: var(--theme-color) !important;
}

#page-header.nav-fixed #nav #toggle-menu:hover {
    color: var(--theme-color) !important;
}

#post-info #post-meta a:hover {
    color: var(--theme-color) !important;
}

#pagination .page-number.current {
    background: var(--theme-color) !important;
}

#post .tag_share .post-meta__tags {
    border: 1px solid var(--theme-color) !important;
    color: var(--theme-color);
}

#post .tag_share .post-meta__tags:hover {
    background: var(--theme-color) !important;
}

#post .post-copyright .post-copyright-meta {
    color: var(--theme-color);
}

#post .post-copyright-cc-info {
    color: var(--theme-color);
}

#waline-wrap {
    --waline-theme-color: var(--theme-color);
}

.hide-inline>.hide-button,
.hide-block>.hide-button {
    background: var(--theme-color);
}

.search-dialog .search-nav {
    color: var(--theme-color);
}

.search-dialog .search-nav .search-close-button:hover {
    color: var(--theme-color);
}

#local-search .search-dialog .local-search-box input {
    border: 2px solid var(--theme-color);
}

#local-search .search-dialog .local-search__hit-item:before {
    border: 3px solid var(--theme-color);
}

#local-search .search-dialog .local-search__hit-item a:hover {
    color: var(--theme-color);
}

#nav *::after {
    background-color: var(--theme-color) !important;
}

.article-sort {
    border-left: 2px solid var(--theme-color);
}

.article-sort-title:after {
    background: var(--theme-color);
}

.article-sort-item:before {
    border: 3px solid var(--theme-color);
}

hr {
    border: 2px dashed var(--high-trans-color) !important
}

hr:before {
    color: var(--theme-color) !important
}

/* Aplayer字体 */
.aplayer {
  font-family: var(--global-font) !important;
}


/* 背景图片链接输入框placeholder*/
input#pic-link::-webkit-input-placeholder {
    color: rgb(150, 150, 150);
}
input#pic-link {
    width: 82%;
    border-radius: 30px;
    border: 1px solid var(--theme-color);
    padding: 5px 10px 5px 10px;
    line-height: 2;
    outline: 1px solid var(--theme-color);
}


/* 开关按钮 */
.settings input[type="checkbox"] {
    width: 37px;
    height: 20px;
    position: relative;
    border: 1px solid #000000;
    background-color: #fdfdfd;
    border-radius: 12px;
    background-clip: content-box;
    display: inline-block;
    appearance: none;
    user-select: none;
    outline: none;
    transform: translateY(5px);
}

.settings input[type="checkbox"]:before {
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    top: 2px;
    left: 3px;
    border-radius: 10px;
    background-color: #000;
}

.settings input[type="checkbox"]:checked {
    background-color: var(--theme-color);
    border-color: var(--theme-color);
}

.settings input[type="checkbox"]:checked:before {
    left: 19px;
    background-color: white !important;
}

.settings input[type="checkbox"] {
    transition: border background-color box-shadow;
}

.settings input[type="checkbox"]:before {
    transition: left 0.2s;
}

.settings input[type="checkbox"]:checked {
    background-color: var(--theme-color);
}

.settings input[type="checkbox"]:checked:before {
    transition: left 0.2s;
}

.settings input[type="checkbox"]:checked:hover {
    opacity: 0.8;
}

.settings input[type="checkbox"]:active {
    background-color: #666666 !important;
    border-color: #666666 !important;
}

.settings input[type="checkbox"]:active::before {
    background-color: white !important;
}

.content-text {
    margin-right: 5px;
}


/* 透明度和模糊半径滑块 */
input[type="range"] {
    display: block;
    appearance: none;
    background-color: #bdc3c7;
    width: 100%;
    height: 5px;
    border-radius: 3px;
    margin: 0 auto;
    outline: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: var(--theme-color);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    z-index: 100;
}

.range {
    position: relative;
    width: 300px;
    margin: 20px 0px 32px 10px;
}

.rang_width {
    position: absolute;
    top: 0px;
    left: 0px;
    background: var(--theme-color);
    height: 5px;
    border-radius: 2px 0 0 2px;
}

/* 壁纸自定义颜色样式 */
#define_colors::before {
    position: absolute;
    color: #fff;
    left: 45px;
    top: 44px;
    content: "自定义颜色"
}

#define_colors {
    border: none;
    background: 0 0;
    width: 166px;
    height: 110px;
    margin: 5px 10px;
    position: relative;
    padding: 0
}

/* 壁纸 API 样式 */
#EEEDogBox:hover,#bingDayBox:hover,#bingHistoryBox:hover,#btstuBox:hover,#picsumBox:hover,#seovxBox:hover,#unsplashBox:hover,#waiBizhiBox:hover {
    text-decoration: none !important
}

.apiBox::before {
    position: relative;
    color: #f0f8ff;
    border-radius: 5px;
    top: 35px;
    padding: 2px 5px;
    background: #00000090
}

#bingDayBox::before {
    left: 34px;
    content: "必应每日壁纸"
}

#bingHistoryBox::before {
    left: 34px;
    content: "必应历史壁纸"
}

#EEEDogBox::before {
    left: 20px;
    content: "EEEDog动漫壁纸"
}

#seovxBox::before {
    left: 30px;
    content: "seovx美女壁纸"
}

#picsumBox::before {
    left: 24px;
    content: "picsum随机壁纸"
}

#waiBizhiBox::before {
    left: 34px;
    content: "小歪高清壁纸"
}

#btstuBox::before {
    left: 34px;
    content: "博天随机壁纸"
}

#unsplashBox::before {
    left: 15px;
    content: "Unsplash随机壁纸"
}


/* 首页文章卡片 */
#recent-posts>.recent-post-item {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 25px;
    border: var(--border-style);
}

/* 首页侧栏卡片 */
#aside-content .card-widget {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border-radius: 18px;
    border: var(--border-style);
}
/* 侧栏卡片小图片 */
#aside-content .aside-list>.aside-list-item .thumbnail {
    border-radius: 8px !important;
}

/* 文章页、归档页、普通页面 */
div#post,
div#page,
div#archive {
    background: var(--trans-light);
    backdrop-filter: var(--backdrop-filter);
    border: var(--border-style);
    border-radius: 20px;
}

/* 导航栏颜色 */
#page-header.nav-fixed #nav {
    background: linear-gradient(60deg, #ffd7e4 0, #c8f1ff 93%);
    opacity: 0.95;
    backdrop-filter: var(--backdrop-filter);
}
[data-theme="dark"] #page-header.nav-fixed #nav {
    background: rgba(18,18,18,0.8) !important;
    -webkit-box-shadow: 0 5px 6px -5px rgba(133,133,133,0);
    box-shadow: 0 5px 6px -5px rgb(181 101 101 / 0%);
}

/* 夜间模式遮罩 */
[data-theme="dark"] #recent-posts>.recent-post-item,
[data-theme="dark"] #aside-content .card-widget,
[data-theme="dark"] div#post,
[data-theme="dark"] div#archive,
[data-theme="dark"] div#page {
    background: var(--trans-dark);
}

/* 侧边栏 */
div#rightside {
  display: var(--rightside-display);
  opacity: 0.98 !important;
  transform: translateX(-58px);
}


/* 调节字体显示栏目 */
#swfs {
    display: flex;
    flex-wrap: wrap;
}

.swf {
    padding: 10px;
    font-size: 20px;
    background-color: white;
    /* 字体选择框边界由js指定 */
    /* border: 2px solid var(--border-color); */
    border-radius: 10px !important;
    margin: 10px;
}

.swf:hover {
    text-decoration: none !important;
    background: var(--text-bg-hover);
}

/* 主题色选择按钮 */
input[name="colors"] {
    margin-right: 15px;
    min-width: 1rem;
    height: 1rem;
    appearance: none;
    -webkit-appearance: none;
    border-radius: 50%;
}

#red {
    border: 3px solid var(--color-red);
}
#red:checked {
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--color-red);
    background-color: var(--color-red);
}

#orange {
    border: 3px solid var(--color-orange);
}
#orange:checked {
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--color-orange);
    background-color: var(--color-orange);
}

#yellow {
    border: 3px solid var(--color-yellow);
}
#yellow:checked {
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--color-yellow);
    background-color: var(--color-yellow);
}

#green {
    border: 3px solid var(--color-green);
}
#green:checked {
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--color-green);
    background-color: var(--color-green);
}

#puregreen {
    border: 3px solid var(--color-puregreen);
}
#puregreen:checked {
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--color-puregreen);
    background-color: var(--color-puregreen);
}

#blue {
    border: 3px solid var(--color-blue);
}
#blue:checked {
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--color-blue);
    background-color: var(--color-blue);
}

#heoblue {
    border: 3px solid var(--color-heoblue);
}
#heoblue:checked {
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--color-heoblue);
    background-color: var(--color-heoblue);
}

#darkblue {
    border: 3px solid var(--color-darkblue);
}
#darkblue:checked {
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--color-darkblue);
    background-color: var(--color-darkblue);
}

#purple {
    border: 3px solid var(--color-purple);
}
#purple:checked {
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--color-purple);
    background-color: var(--color-purple);
}

#purepurple {
    border: 3px solid var(--color-purepurple);
}
#purepurple:checked {
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--color-purepurple);
    background-color: var(--color-purepurple);
}

#pink {
    border: 3px solid var(--color-pink);
}
#pink:checked {
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--color-pink);
    background-color: var(--color-pink);
}

#gray {
    border: 3px solid var(--color-gray);
}
#gray:checked {
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--color-gray);
    background-color: var(--color-gray);
}

#black {
    border: 3px solid var(--color-black);
}
#black:checked {
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--color-black);
    background-color: var(--color-black);
}

#whitegray {
    border: 3px solid var(--color-whitegray);
}
#whitegray:checked {
    box-shadow: 0 0 0 2px #fff inset;
    border-radius: 50%;
    border: 3px solid var(--color-whitegray);
    background-color: var(--color-whitegray);
}